<article class="photo-article">
	<header>
		<div class="row">
			<div class="col-sm-12 col-md-offset-2 col-md-10">
				<h1>{{title}}</h1>
			</div>
		</div>
	</header>
	<div class="row">
		<div class="photo-matte col-sm-5 col-md-offset-2 col-md-5 ">
			<a href="details.html?id={id}">
				<img src="{{url}}" alt="{{title}}" />
			</a>
		</div>
		<div class="photo-right col-sm-7 col-md-5">
			<div class="photo-description">
				<p>{{description}}</p>
				<br />
				<p>{{uploadDate}}</p>
			</div>
		</div>
	</div><!--row-->
</article>